@import url("fonts/stylesheet.css");
body,
html {
  height: 100%;
}
body {
  font-family: sans-serif;
  background: url("../img/concrete_wall_dark.png");
  font-family: 'GTG';
}
#content {
  background: url("../img/concrete_wall_light.png");
  height: 60%;
  min-height: 600px;
  position: relative;
}
#content header {
  width: 870px;
  height: 600px;
  background: url("../img/notebook_illustration.svg") no-repeat;
  position: absolute;
  bottom: -63px;
  left: 50%;
  margin-left: -435px;
  font-size: 24px;
}
#content h1 {
  text-align: center;
  width: 180px;
  height: 100px;
  position: absolute;
  top: 430px;
  left: 140px;
}
#content nav ul {
  position: absolute;
  left: 450px;
  top: 275px;
  font-size: 18px;
  list-style: none;
}
#content nav ul li {
  margin-bottom: 10px;
}
#content nav ul a {
  text-decoration: none;
  color: #0071bc;
}
#content nav ul a:hover {
  text-decoration: underline;
}
