body
	font-family sans-serif
header
	text-align center
	height 60px
	padding-top 20px
	h1
		font-weight normal
		font-family "comic-serif-pro-1","comic-serif-pro-2"
		font-size 36px
#content
	width 400px
	margin 0 auto
	nav ul
		list-style none
		li
			margin-bottom 10px
		a
			text-decoration none
			color #51A1B8
			&:hover
				text-decoration underline
