!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		link(rel='icon', type='image/png', href='http://blog.brackets.io/wp-content/themes/brackets/favicon_@2X.png')
		title Brackets | Downloads
		script(src="http://use.edgefonts.net/source-sans-pro:n4,n9,n7,i7,i4,n3,i3,n6,i6,i9,n2,i2:all.js")
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(data-main="js/app.js", src="js/require.js")
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		include includes/header
		#content
			header
				img(src="img/sprint_17_screenshot_@2X.png", alt="Brackets Sprint 17", width="505", height="356")
				h2 Code the Web
				p Brackets an open source code editor. It's built with JavaScript, HTML and CSS by web developers like you.
				a.other(href="#") Other downloads
				#downloads-list
			section.system-requirements
				.description 
					h3 System Requirements
					p Mac OS
					ul
						li Multicore Intel processor
						li Mac OS X v10.6, v10.7 or v10.8 operating system
						li 256MB of RAM (2GB of RAM recommended for Live Development)
						li 200MB of available hard-disk space for installation
						li 1280x800 display with 16-bit video card
					p Windows
					ul
						li Intel速 Pentium速 4 or AMD Athlon速 64 processor
						li Windows速 7 or Windows 8 operating system
						li 256MB of RAM (2GB of RAM recommended for Live Development)
						li 200MB of available hard-disk space for installation
						li 1280x800 display with 16-bit video card
			section.installation-instructions
				.description
					h3 Installation Instructions
					ol
						li Save the installer file to a location on your hard drive.
						li Located the installer and double-click to start the install process.
					ul
						li <strong>Mountain Lion (OS X 10.8):</strong> by default will not allow Brackets to run since it's not being digitally signed yet. To work around this, right click the Brackets app and choose Open, then click Open on the dialog that appears. You only need to do that once -- afterward, launching Brackets the normal way will work also.
						li <strong>Windows:</strong> You may specify a custom install location. We do not recommend you install over an existing copy of Edge Code.
			section.update 
				.description
					h3 Frequent Updates
					p We release new features in Brackets about every 2.5 weeks. When a new build is availale you will see a present icon inside the application. For the latest new and release information, follow <a href="http://www.twitter.com/brackets">@brackets</a> on Twitter.
				a(href="http://brackets.io/contribute"): img(src="img/screens_update_@2X.png", alt="Contribute", width="477", height="360")
		footer.main Project source code is licensed under the <a href="https://github.com/adobe/brackets/blob/master/LICENSE">MIT License</a>.