a
	text-decoration none
	color #008FE2
	&:hover
		text-decoration underline
details, summary
	display block
.no-details summary:hover, .no-details summary:focus 
	background #ddd
.no-details details > *
	display none
.no-details details summary
	display block
summary
	cursor pointer
body
	font-family source-sans-pro
	color #363A3A
	background #F7F7F7
	& > header
		h1
			padding 24px 0
			font-size 40px
			text-align center
			img
				vertical-align center
				position relative
				top 2px
				margin-right 10px
		.hero
			background #008FE2
			padding 50px 0
			text-align center
			color #FFF
			h2
				font-size 72px
				text-shadow -3px 3px 0 rgba(16, 107, 153, 0.6)
				text-transform uppercase
				margin-bottom 30px
			img
				margin-right 20px
			section
				display inline-block
				width 280px
				vertical-align top
				h3
					font-size 20px
					margin 0 0 16px
					text-align left
					font-weight 500
				p
					font-size 16px
					text-align left
					margin-bottom 16px
					font-weight 300
	& > footer
		text-align center
		font-size 12px
		padding 30px 0 10px
		clear both
#getting-started, #get-coding
	padding 40px 0 0
	text-align center
	h2
		font-size 36px
		color #333
		margin-bottom 20px
	article
		display inline-block
		width 160px
		height 200px
		font-size 14px
		text-align left
		background #FFF
		border 1px solid #CCC
		padding 20px
		vertical-align top
		margin 0 -5px -1px 0
	h3
		font-size 24px
		text-align center
		margin 0 0 20px
		font-weight normal
	p
		margin-bottom 12px

#getting-started
		
		ul
			list-style none
			li
				margin 0 0 10px 10px
				text-indent -10px
		.videos
			width 360px
			.video
				display inline-block
				margin-right 6px
			
#get-coding
	p.description
		width 400px
		display inline-block
		text-align left
#starter-issues, #starter-features
	width 100%
	max-width 960px
	position relative
	margin 30px auto
	article
		width 600px
		height auto
		display block
		position relative
		margin 0 auto -1px
		h3
			margin 0 0 5px 0
			font-size 18px
			text-align left
		.content
			height block
			margin-bottom 5px
			pre
				font-family source-sans-pro
				white-space pre-wrap // css-3
				white-space -moz-pre-wrap !important; // Mozilla, since 1999
				white-space -pre-wrap // Opera 4-6
				white-space -o-pre-wrap // Opera 7
				word-wrap break-word // Internet Explorer 5.5+
				padding 20px
		footer
			.date, .vote-count
				float right
			
