!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Brackets UI Prototypes
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		link(rel='icon', type='image/png', href='favicon.png')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		#content
			header
				h1 Brackets<br>UI Prototypes
				nav: ul
					li: a(href='inline_editor') Inline Editor
					li: a(href='multi_rule_explorer') Multi Rule Explorer
					li: a(href='project_panel') Project Panel
					li: a(href='color_editor') Color Editor
					li: a(href='status_bar') Status Bar
					li: a(href='scroll') Scroll
					li: a(href='contribute') Contribute Page
					li: a(href='blog-theme') Blog
					li: a(href='downloads') Downloads Page