@import "../../css/fonts/SourceSans/stylesheet.css";
html,
body {
  height: 100%;
  font-family: 'SourceSans';
  -webkit-font-smoothing: antialiased;
}
#project-panel {
  background: url("../img/propertiespanel_back@2x.png") repeat-x top #3c3f41;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
#content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 30px 25px 200px;
  background: #f8f8f8;
  position: absolute;
  z-index: 1;
}
#toolbar {
  width: 30px;
  height: 100%;
  box-sizing: border-box;
  background: #5d5f60;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
#status-bar {
  font-size: 12px;
  color: #808080;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 0 0 0 200px;
  z-index: 2;
}
#status-bar #cursor-position,
#status-bar .right > div {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
}
#status-bar .right {
  display: inline-block;
  float: right;
}
#status-bar .right a {
  text-decoration: none;
  color: #808080;
}
#status-bar .right a:hover {
  text-decoration: underline;
}
#line-count,
#mode,
#indent-type {
  border-right: 1px solid #ebebeb;
  margin-right: -2px;
}
#cursor-position,
#line-count,
#mode a,
#indent-type a,
#indent-size a {
  padding: 6px 9px;
  box-sizing: border-box;
  display: inline-block;
}
#mode a,
#indent-type a {
  position: relative;
  padding-right: 19px;
}
#mode a:after,
#indent-type a:after {
  content: '';
  width: 5px;
  height: 100%;
  background: url("../img/arrows.svg") no-repeat;
  background-position: center left;
  position: absolute;
  right: 9px;
  top: 0;
  margin-top: -1px;
}
#mode a:hover:after,
#indent-type a:hover:after {
  background-position: center right;
}
#indent-size {
  width: 30px;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  text-align: center;
}
