body
	background #F8F8F8
	font-family 'SourceSans'

#status-bar
	height 20px
	border-top 1px solid #E6E6E6
	position absolute
	bottom 0
	width 100%
	-webkit-user-select none
	color #808080
	font-size 12px
	font-weight normal
	text-align right
	box-sizing: border-box
	padding 3px 20px 0
	#cursor-position
		position absolute
		height 100%
		left 15px
	#line-count, #file-type
		display inline-block
		text-align right
		margin-right 20px
	#tab-space-toggle
		display inline-block
		margin-right 4px
		width 42px
		input
			display none
		label
			cursor pointer
			display none
			&:hover
				// border-bottom 1px solid #808080
				text-decoration underline
			&.selected
				display inline
	#tab-width
		width 20px
		text-align left
		display inline-block
		label
			display inline-block
			width 100%
			&:hover
				text-decoration underline
				cursor pointer
		.hidden
			display none
		input
			height 12px
			border 1px solid #E6E6E6
			margin 0
			padding 0
			vertical-align center
			width 28px
			position relative
			left 0
			top -2px
	#tab-width-input
		display none