body {
  background: #f8f8f8;
  font-family: 'SourceSans';
}
#status-bar {
  height: 20px;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-user-select: none;
  color: #808080;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  box-sizing: border-box;
  padding: 3px 20px 0;
}
#status-bar #tab-space-toggle {
  display: inline-block;
  margin-right: 4px;
}
#status-bar #tab-space-toggle input {
  display: none;
}
#status-bar #tab-space-toggle label {
  cursor: pointer;
  display: none;
}
#status-bar #tab-space-toggle label:hover {
  text-decoration: underline;
}
#status-bar #tab-space-toggle label.selected {
  display: inline;
}
#status-bar #tab-width {
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;
}
#status-bar #tab-width .decrement {
  display: inline-block;
  width: 4px;
  height: 8px;
  background: url("../img/stepper-arrow-sprites.svg") no-repeat top left;
}
#status-bar #tab-width .increment {
  display: inline-block;
  width: 4px;
  height: 8px;
  background: url("../img/stepper-arrow-sprites.svg") no-repeat top right;
}
#status-bar #tab-width-input {
  display: none;
}
