header.main
	hgroup
		a(href="http://www.brackets.io"): img(src="img/brackets-logo.svg", alt="Brackets Icon", width="30", height="30")
		h1: a(href="http://www.brackets.io") Brackets
	nav.site
		ul
			li: a(href="http://www.brackets.io") Home
			li: a(href="http://downloads.brackets.io") Downloads
			li: a(href="http://blog.brackets.io") Team Blog
			li: a(href="http://www.brackets.io/contribute") Contribute