body
	color #333
	font-family source-sans-pro
a
	text-decoration none
	color #1C699E
	&:hover
		text-decoration underline

.site
	padding 10px
	-moz-box-sizing border-box
	box-sizing border-box
	overflow-x hidden
	width 100%
	max-width 530px
	position relative
	margin 0 auto
header.main
	text-align center
	margin-bottom 30px
	hgroup
		margin-bottom 20px
	h1 a
			font-weight 600
			font-size 2.5em
			display inline-block
			padding-left 35px
			background url('assets/brackets-logo.svg') no-repeat left center
			color #333
			&:hover
				text-decoration none
	h2
		font-weight 300
		font-size 1.3em
nav.main
	width 100%
	max-width 400px
	position relative
	margin 0 auto
	li
		width 20%
		height 42px
		display inline-block
		margin 0 -2px
		a
			width 100%
			height 100%
			display block
			position relative
			text-decoration none
			text-transform lowercase
			font-size 0.875em
			opacity 0.8
			color #333
			&:hover
				opacity 1
			&:before
				display block
				position relative
				margin 0 auto 5px
				background-image url('assets/nav_sprites.svg')
				background-repeat none
				width 20px
				height 20px
				top 0
				content ''
li.build a:before
	background-position 0 0
li.events a:before, li.publish-date a:before
	background-position 0 -100%
li.code a:before
	background-position 0 -200%
li.design a:before
	background-position 0 -300%
li.news a:before
	background-position 0 -400%
li.comment-count a:before
	background-position 0 -500%
li.author a:before
	background-position 0 -600%
#content
	article
		margin-bottom 40px
		.content
			line-height 1.4em
		header
			margin-bottom 20px
			h2
				font-size 2em
				font-weight 500
				a
					color #333
		.content p, .content ul, .content ol
			margin-bottom 16px
		footer
			border-bottom 1px dotted
			text-align center
			li
				display inline-block
				height 20px
				padding 6px 6px 3px
				a
					padding-left 21px
					position relative
					color #666
					font-size 0.9em
					font-weight 300
					&:before
						display block
						position absolute
						margin 0 auto 5px
						background-image url('assets/nav_sprites.svg')
						background-repeat none
						background-size 100%
						width 16px
						height 16px
						top 1px
						left 0
						content ''
						opacity 0.6
					&:hover
						color #333
						&:before
							opacity 1

footer.main
	font-size 0.6em
	text-align center
	ul, ol
		margin 0

@media only screen and (min-width:800px)
	.site
		max-width 800px
	header.main
		width 240px
		position fixed
		top 0
		padding-top 40px
		text-align left
		hgroup
			margin-bottom 80px
		h2
			margin-left 40px
	nav.main
		margin-left 10px
		li
			width auto
			height 20px
			display block
			margin-bottom 10px
			a
				width 100%
				height 100%
				display block
				position relative
				text-decoration none
				text-transform lowercase
				font-size 1.3em
				color #333
				padding-left 30px
				&:hover:before
					opacity 1
				&:before
					display block
					position absolute
					background-image url('assets/nav_sprites.svg')
					background-repeat none
					width 20px
					height 20px
					top 0
					left 0
					content ''
					opacity 0.2
	#content
		.content
			font-weight normal
			-webkit-font-smoothing antialiased
			font-smoothing antialiased
		ul, ol
			margin-left 30px
		footer ul, ol
			margin 0
			text-align left
	#content, footer.main
		width 530px
		position relative
		left 270px
	#content
		padding-top 168px

