a {
  color: #1d7094;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body,
html {
  height: 100%;
}
body {
  font-family: source-sans-pro, sans-serif;
}
body > header {
  padding-top: 20px;
  height: 280px;
  background: #232b3d;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
}
body > header img {
  margin-bottom: 60px;
}
body > header ul {
  list-style: none;
}
body > header li {
  display: inline-block;
  width: 120px;
  height: 80px;
}
body > header li a {
  font-size: 12px;
  text-decoration: none;
  color: #a8a9ad;
  display: block;
  width: 100%;
  height: 20px;
  padding-top: 60px;
  position: relative;
}
body > header li a:before {
  content: '';
  position: absolute;
  background-image: url("../img/nav_sprites.svg");
  background-repeat: no-repeat;
  background-position: 0 top;
  height: 56px;
  width: 51px;
  top: 0;
  left: 34px;
  display: block;
}
body > header li a:hover {
  color: #fff;
  text-decoration: none;
}
body > header li.selected a {
  color: #fff;
  cursor: default;
}
body > header li.selected a:before {
  background-position: 0 bottom;
}
body > header li:nth-child(2) a:before {
  background-position: -51px top;
  width: 54px;
  left: 33px;
}
body > header li:nth-child(2).selected a:before {
  background-position: 0 0;
  background-image: url("../img/cordova_icon.png");
  background-size: 100% 100%;
}
body > header li:nth-child(3) a:before {
  background-position: -105px top;
}
body > header li:nth-child(3).selected a:before {
  background-position: -105px bottom;
}
body > header li:nth-child(4) a:before {
  background-position: -156px top;
  width: 62px;
  left: 29px;
}
body > header li:nth-child(4).selected a:before {
  background-position: -156px bottom;
}
#content {
  height: 100%;
}
#content > section {
  height: 100%;
  box-sizing: border-box;
  padding: 400px 0 0 227px;
  width: 600px;
  position: relative;
  margin: 0 auto;
}
#content > section aside {
  position: absolute;
  left: 84px;
}
#content > section h1 {
  font-size: 48px;
  font-weight: 700;
}
#content > section li {
  list-style: none;
  display: inline-block;
}
#content > section li:first-child {
  margin-right: 25px;
}
#content > section li a {
  font-size: 18px;
}
#content > section .description {
  margin: 30px 0 50px;
  width: 307px;
}
#content > section .contribute h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#content > section .contribute p {
  width: 307px;
}
#content > section article {
  padding-top: 30px;
}
body > footer {
  height: 28px;
  width: 100%;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
  background: #232b3d;
  text-align: center;
}
body > footer a {
  color: #7495c0;
  font-size: 18px;
  text-decoration: none;
}
body > footer a:hover {
  text-decoration: underline;
}
