a
	color #1d7094
	text-decoration none
	&:hover
		text-decoration underline
body, html
	height 100%
body
	font-family: source-sans-pro, sans-serif;
body > header
	padding-top 20px
	height 280px
	background #232B3D
	text-align center
	position fixed
	width 100%
	z-index 20
	box-shadow 0 2px 8px rgba(0,0,0,0.3)
	img
		margin-bottom 60px
	ul
		list-style none
	li
		display inline-block
		width 120px
		height 80px
		a
			font-size 12px
			text-decoration none
			color #A8A9AD
			display block
			width 100%
			height 20px
			padding-top 60px
			position relative
			&:before
				content ''
				position absolute
				background-image url('../img/nav_sprites.svg')
				background-repeat no-repeat
				background-position 0 top
				height 56px
				width 51px
				top 0
				left 34px
				display block
			&:hover
				color #FFF
				text-decoration none
		&.selected a
			color #FFF
			cursor default
			&:before
				background-position 0 bottom
	li:nth-child(2)
		a:before
			background-position -51px top
			width 54px
			left 33px
		&.selected a:before
			background-position 0 0
			background-image url('../img/cordova_icon.png')
			background-size 100% 100%
	li:nth-child(3)
		a:before
			background-position -105px top
		&.selected a:before
			background-position -105px bottom
	li:nth-child(4)
		a:before
			background-position -156px top
			width 62px
			left 29px
		&.selected a:before
			background-position -156px bottom
#content
	height 100%
	& > section
		height 100%
		box-sizing border-box
		padding 350px 0 0 227px
		width 600px
		position relative
		margin 0 auto
		aside
			position absolute
			left 84px
		h1
			font-size 48px
			font-weight 700
		li
			list-style none
			display inline-block
			&:first-child
				margin-right 25px
			a
				font-size 18px
		.description
			margin 30px 0 50px
			width 307px
		.contribute
			h2
				font-size 24px
				font-weight 600
				margin-bottom 20px
			p
				width 307px
		article
			padding-top 30px
body > footer
	height 28px
	width 100%
	padding-top 12px
	position fixed
	bottom 0
	background #232b3d
	text-align center
	a
		color #7495c0
		font-size 18px
		text-decoration none
		&:hover
			text-decoration underline
