!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Color Picker
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(data-main = "scripts/main", src = 'scripts/require.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
		script

	body(style="margin: 50px;")
		header
		#content
			//- input#colorInput(type="text")
			//- a#clickButton(href="#") select
			.colorLabel(style="padding: 20px; -webkit-user-select: none;") hsla(360, 100, 50%, 0.5)
			.coloreditor
				.saturation-luminosity-block
					.saturation-gradient
					.luminosity-gradient
					.selector
				.hue-slider
					.selector
				.opacity-slider
					.opacity-background
					.opacity-gradient
					.selector
				.lower-controls
					.color-indicator
						.selected-color
						.original-color
					ul.button-bar
						li.selected
							a(href="#") Hex
						li
							a(href="#") RGB
						li
							a(href="#") HSL