!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%title Blank setup
		%link{:rel => "stylesheet", :href => "css/main.css"}
		/[if lt IE 9]
			%script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src => "js/app.js"}
	%body
		%header
		#content
			%ol.editor.top
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
			.inline.editor
				%ol
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
					%li &nbsp;
				.shadow.top
				.shadow.bottom
				.filename main.css
			%ol.editor.bottom
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
				%li &nbsp;
		%footer
			%a#toggle{:href => '#'} Open