!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		meta(name="viewport", content = "width = device-width, initial-scale = 1, user-scalable = no")
		title Basic Starter
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src="http://use.edgefonts.net/source-sans-pro:n4,n9,n7,i7,i4,n3,i3,n6,i6,i9,n2,i2:all.js")
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		.site
			header.main
				hgroup
					h1: a(href="/") Brackets
					h2 team blog
				nav.main
					ul
						li.build: a(href="#") Build
						li.events: a(href="#") Events
						li.code: a(href="#") Code
						li.design: a(href="#") Design
						li.news: a(href="#") News
			#content
				article
					header: h2: a(href="post") Brackets Sprint 16 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.build: a(href="#") build
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Adam Lehman
				article
					header: h2: a(href="post") Brackets Sprint 15 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.build: a(href="#") build
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Adam Lehman
				article
					header: h2: a(href="post") Brackets Sprint 14 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.code: a(href="#") code
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Garth Braithwaite
				article
					header: h2: a(href="post") Brackets Sprint 13 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.code: a(href="#") code
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Ryan Effin Stewart
				article
					header: h2: a(href="post") Brackets Sprint 12 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.code: a(href="#") code
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Adam Lehman
				article
					header: h2: a(href="post") Brackets Sprint 11 Build
					div.content
						p Download Sprint 16: http://github.com/adobe/brackets/downloads
						p The Brackets sweet 16 build is posted and ready for your coding enjoyment. The team at Adobe continued work on some our key features and initiatives. We made progress on Live HTML development and in upgrading our core code editor to CodeMirror 3. We devoted time to working with the community to accept some new features. Finally, we also devoted time to fixing and closing 45+ issues!
					footer
						ul
							li.category.code: a(href="#") code
							li.publish-date: a(href="#") 12 Sep 2012
							li.comment-count: a(href="#") 6 Responses
							li.author: a(href="#") Adam Lehman
			footer.main Project source code is licensed under the <a href="https://github.com/adobe/brackets/blob/master/LICENSE">MIT License</a>.