project-panel-width = 200px
toolbar-width = 30px
status-bar-height = 25px
@import "../../css/fonts/SourceSans/stylesheet.css"
@import "../../css/fonts/SourceCodePro/stylesheet.css"
html, body
	height 100%
	font-family 'SourceSans'
	-webkit-font-smoothing antialiased
pre
	font-family 'SourceCodePro'
#project-panel
	background url('../img/propertiespanel_back@2x.png') repeat-x top #3C3F41
	width project-panel-width
	height 100%
	box-sizing border-box
	position absolute
	top 0
	left 0
	z-index 3
	overflow auto
	color #bbb
	padding 10px
	font-size 13px
#content
	width 100%
	height 100%
	box-sizing border-box
	padding 0 toolbar-width status-bar-height project-panel-width
	background #F8F8F8
	position absolute
	z-index 1
	overflow scroll
.inline-editor
	width 100%
	background #EAEAEA
	position relative
	box-sizing border-box
	padding 16px 0
	header
		padding 0 10px
		width 100%
		color #a1a3a4
		font-size 13px
		margin-bottom 10px
	&:before, &:after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 12px
		display block
		background -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 20%)
	&:after
		top auto
		bottom 0
		background -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 20%)
.nested-editor
	min-height 80px
	width 100%
	box-shadow 0 -1px 0 #FFF, 0 -2px 0 #CCC, 0 1px 0 #CCC, 0 2px 0 #FFF
	margin 7px 0
	box-sizing border-box
	padding 0 18px
.codeblock
	padding 0 10px
	width 100%
	position relative
	pre
		font-size 12px
		line-height 16px
		display inline-block
		&.line-numbers
			min-width 17px
			color #acacac
			text-align right
		&.code
			color #444
			margin-left 10px
#toolbar
	width toolbar-width
	height 100%
	box-sizing border-box
	background #5D5F60
	position absolute
	right 0
	top 0
	z-index 2
#status-bar
	font-size 12px
	color #808080
	width 100%
	height status-bar-height
	position absolute
	bottom 0
	left 0
	background #FFF
	border-top 1px solid #ebebeb
	box-sizing border-box
	padding 0 0 0 project-panel-width
	z-index 2 
	#cursor-position, & .right > div
		box-sizing border-box
		display inline-block
		height 100%
	.right
		display inline-block
		float right
		& a
			text-decoration none
			color #808080
			&:hover
				text-decoration underline
#line-count, #mode, #indent-type
	border-right 1px solid #ebebeb
	margin-right -2px
#cursor-position, #line-count, #mode a, #indent-type a, #indent-size a
	padding 6px 9px
	box-sizing border-box
	display inline-block
#mode a, #indent-type a
	position relative
	padding-right 19px
	&:after
		content ''
		width 5px
		height 100%
		background url('../img/arrows.svg') no-repeat
		background-position center left
		position absolute
		right 9px
		top 0
		margin-top -1px
	&:hover
		&:after
			background-position center right
#indent-size
	width toolbar-width
	padding-left 0
	padding-right 0
	border 0
	text-align center
.coloreditor
	width 420px
	height 214px
	background -webkit-image-set( url('../img/color_editor.png') 1x, url('../img/color_editor@2X.png') 2x )
.infinte_editor
	overflow hidden
	transition height 0.25s ease-in-out
	-webkit-transition height 0.25s ease-in-out
	position relative
	.codeblock
		position absolute
		left 0
		top 0
		transition left 0.25s ease-in-out
		-webkit-transition left 0.25s ease-in-out
		&.right
			left 100%
		&.left
			left -100%
.inline-editor header
	width 100%
	box-shadow 0 1px 0 #CCC, 0 2px 0 #FFF
	padding-bottom 10px
	ul
		list-style none
	li
		display inline-block
		padding-right 20px
		padding-left 16px
		background url(../img/divider.svg) no-repeat center right
		&:first-child
			padding-left 0
		&:last-child
			padding-right 0
			background none
	a
		color #bbb
		text-decoration none
		&:hover
			color #333
	.selected a
		color #333
		cursor default