!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Basic Starter
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src = 'js/app.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		aside#project_panel
			#file_selection
			section.working_files
				header Working Files
				ul
					li.file: a
						span.filename brackets
						span.extension .js
					li.file: a
						span.filename index
						span.extension .html
					li.file: a
						span.filename main
						span.extension .css
			section.project_files
				header Site
				ul
					li.folder.expanded
						a: span.foldername css
						ul
							li.file: a
								span.filename main
								span.extension .css
							li.file: a
								span.filename reset
								span.extension .css
					li.folder.collapsed
						a: span.foldername img
						ul
							li.file: a
								span.filename logo
								span.extension .png
							li.file: a
								span.filename icon
								span.extension .svg
					li.file: a
						span.filename index
						span.extension .html
					li.folder.collapsed
						a: span.foldername js
						ul
							li.file: a
								span.filename app
								span.extension .js
							li.file: a
								span.filename jquery
								span.extension .js
		#content
			header
				h1.filename index.html
				nav
					ul
						li: a Live Development
			#editor code here